.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 2.375rem 6.813rem;
  border-bottom: 2px #CCCCCC solid;

  &__image {
    border-radius: .625rem;
    width: 3.438rem;
  }

  &__title {
    font-size: 1.5rem;
    padding-left: 1.5rem;
  }
}

.title {
  size: 1.75rem;
  padding-left: 6.875rem;
  &--popcat{
    padding-left: 0;
  }
}


.novedades {
  padding: 2rem 6.813rem;
  border-bottom: 2px #CCCCCC solid;
  display: flex;
  flex-direction: row;

  &__post {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    &--ultimopost {

      flex-direction: column;
      display: flex;
      margin-right: 3rem;

      &__head {

        &__image {
          border-radius: 1.25rem;
          width: 37.688rem;
          height: 19.625rem;
          object-fit: cover;
        }
      }

      &__body {
        padding-top: .5rem;
        &__date {
          font-size: 1.125rem;
          color: #171717;

        }

        &__title {
          padding-top: .5rem;
          size: 1.5rem;
        }
      }

      &__footer {
        padding-top: .5rem;
        display: flex;
        align-items: center;

        &__avatar {

          border-radius: 50%;
          width: 3.75rem;
        }

        &__author {

          size: 1.5rem;
          padding-left: 1.5rem;
        }
      }
    }

    &--aside {

      display: flex;
      flex-direction: column;
      margin-left: 3rem;

      &__previous {

        display: flex;

        &__head {
          &__image {
            border-radius: 1.25rem;
            width: 11.813rem;
            height: 9.063rem;
            object-fit: cover;
          }
        }

        &__body {
          padding-left: 2.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          &__date {
            size: 1.5rem;
          }

          &__title {
            size: 1.25rem;

          }
        }

        &__footer {

          display: flex;
          align-items: center;

          &__avatar {
            border-radius: 50%;
            width: 2.5rem;
          }

          &__author {
            size: 1rem;
          }
        }
      }
    }
  }
}
.popcat{
  display: flex;
  flex-direction: row;
  border: #000 solid 1px;
  padding: 2rem 6.813rem;
  border-bottom: 2px #CCCCCC solid;
  box-sizing: border-box;
  
  &__populares{
    display: flex;
    flex-direction: column;
    border: #000 solid 1px;
    text-align: start;
    padding-right: 2rem;
    &__nominated{
      display: flex;
      flex-direction: row;
      &__cone{
        display: flex;
        flex-direction: column;
        
      }
      &__ctwo{
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
      }
      &__language{
        padding-bottom: 1rem;
        &__image{
          width: 18.625rem;
          height: 12.5rem;
          object-fit: cover;
          border-radius: 1.25rem;
          border: #000 1px solid;
        }
        &__date{
          size: 1rem;
        }
        &__title{
          size: 1.25rem;
        }
        &__footer{
          display: flex;
          
          align-items: center;
          &__avatar{
            border-radius: 50%;
            width: 2.5rem;
          }
          &__author{
            margin-left: 1rem;
            size: 1rem;
          }
        }
      }
    }
  }
  &__categorias{
    display: flex;
    flex-direction: column;
    border: #000 solid 1px;
    
  }
}