.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 2.375rem 6.813rem;
  border-bottom: 2px #CCCCCC solid;
}
.header__image {
  border-radius: 0.625rem;
  width: 3.438rem;
}
.header__title {
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

.title {
  size: 1.75rem;
  padding-left: 6.875rem;
}
.title--popcat {
  padding-left: 0;
}

.novedades {
  padding: 2rem 6.813rem;
  border-bottom: 2px #CCCCCC solid;
  display: flex;
  flex-direction: row;
}
.novedades__post {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.novedades__post--ultimopost {
  flex-direction: column;
  display: flex;
  margin-right: 3rem;
}
.novedades__post--ultimopost__head__image {
  border-radius: 1.25rem;
  width: 37.688rem;
  height: 19.625rem;
  object-fit: cover;
}
.novedades__post--ultimopost__body {
  padding-top: 0.5rem;
}
.novedades__post--ultimopost__body__date {
  font-size: 1.125rem;
  color: #171717;
}
.novedades__post--ultimopost__body__title {
  padding-top: 0.5rem;
  size: 1.5rem;
}
.novedades__post--ultimopost__footer {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}
.novedades__post--ultimopost__footer__avatar {
  border-radius: 50%;
  width: 3.75rem;
}
.novedades__post--ultimopost__footer__author {
  size: 1.5rem;
  padding-left: 1.5rem;
}
.novedades__post--aside {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.novedades__post--aside__previous {
  display: flex;
}
.novedades__post--aside__previous__head__image {
  border-radius: 1.25rem;
  width: 11.813rem;
  height: 9.063rem;
  object-fit: cover;
}
.novedades__post--aside__previous__body {
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.novedades__post--aside__previous__body__date {
  size: 1.5rem;
}
.novedades__post--aside__previous__body__title {
  size: 1.25rem;
}
.novedades__post--aside__previous__footer {
  display: flex;
  align-items: center;
}
.novedades__post--aside__previous__footer__avatar {
  border-radius: 50%;
  width: 2.5rem;
}
.novedades__post--aside__previous__footer__author {
  size: 1rem;
}

.popcat {
  display: flex;
  flex-direction: row;
  border: #000 solid 1px;
  padding: 2rem 6.813rem;
  border-bottom: 2px #CCCCCC solid;
  box-sizing: border-box;
}
.popcat__populares {
  display: flex;
  flex-direction: column;
  border: #000 solid 1px;
  text-align: start;
  padding-right: 2rem;
}
.popcat__populares__nominated {
  display: flex;
  flex-direction: row;
}
.popcat__populares__nominated__cone {
  display: flex;
  flex-direction: column;
}
.popcat__populares__nominated__ctwo {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
.popcat__populares__nominated__language {
  padding-bottom: 1rem;
}
.popcat__populares__nominated__language__image {
  width: 18.625rem;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 1.25rem;
  border: #000 1px solid;
}
.popcat__populares__nominated__language__date {
  size: 1rem;
}
.popcat__populares__nominated__language__title {
  size: 1.25rem;
}
.popcat__populares__nominated__language__footer {
  display: flex;
  align-items: center;
}
.popcat__populares__nominated__language__footer__avatar {
  border-radius: 50%;
  width: 2.5rem;
}
.popcat__populares__nominated__language__footer__author {
  margin-left: 1rem;
  size: 1rem;
}
.popcat__categorias {
  display: flex;
  flex-direction: column;
  border: #000 solid 1px;
}

/*# sourceMappingURL=style.css.map */
